* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #cecece;
  font-family: sans-serif;
  text-align: center;
}

#ScopeDisplay {
  top:auto;
  left: auto;
  width: 100%;
  height: 300px;
  background: #000000;
  border: 5px solid white;
  color: #20c20e;
}
#Knobs{
  break-before: auto;
  margin: auto;
  max-width: 522px;
  clear: both;
}
#Horz{
  margin: auto;
  float: left;
}
#TimeBase{
  margin: auto;
  float: right;
}

#FunctionButtons{
  margin: auto;
  clear: both;
  max-width: 100%;
}
.FunctionKeys {
    background-color: #4CAF50; /* Green */
    border: 1px black;
    color: white;
    float: center;
    vertical-align:middle;
    padding: 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    width:100px;
    height:50px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
.FunctionKeys:hover {
    background-color: #FFFFFF; /* Green */
    color: black;
}
